.modal {
  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: #948c8c;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    max-width: 600px;
    min-width: 300px;

    background-color: #ffffff;
    border-radius: 8px;
  }

  &-title {
    margin-bottom: 15px;
    font-size: 1.7rem;
  }

  &-text {
    font-size: 0.9rem;
  }

  &-form {
    margin-top: 24px;
    width: 100%;
  }

  &-form-group {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
  }

  &-input {
    box-sizing: border-box;

    padding: 12px 16px;
    width: 100%;

    border: 1px solid #cccccc;
    border-radius: 4px;

    &::placeholder {
      color: #ccc;
    }

    &:hover,
    &:focus {
      border-color: #2196f3;
    }
  }

  &-button {
    padding: 8px 24px;
    background-color: #2196f3;
    border-radius: 4px;

    color: white;

    &:hover {
      background-color: #1976d2;
    }
  }

  &-error {
    opacity: 1;
    height: auto;
    color: red;

    &--hidden {
      opacity: 0;
      height: 0;
    }
  }
}
