/* body */
body {
  box-sizing: border-box;

  background-color: #f7f7f7;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  color: #333333;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

a,
button,
input {
  transition: all 0.4s ease-in;
}

button {
  cursor: pointer;
}

input {
  &::-webkit-input-placeholder {
    transition: opacity 0.2s ease-in;
  }

  &:hover,
  &:focus {
    &::-webkit-input-placeholder {
      opacity: 0;
    }
  }
}
